.container-about {

    .hs-caro {
        
        .hs-carousel-1 >p {
            font-weight: bold;
            font-size: 20px;

            >span {
                color: var(--naranja);
            }
        }
    }
}