.checkout-content {
    padding: 70px 0;
    width: 95%;
    margin: auto;
    & h1 {
      font-family: "Mulish";
    }
  }
  .checkout-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: "Mulish";
    gap: 10px;
    & fieldset {
      display: flex;
      border: none;
      flex-direction: column;
      padding: 10px;
      gap: 5px;
      & label {
        font-size: 20px;
      }
      & input,
      & select {
        border-radius: 20px;
        padding: 18px;
        border: 1px solid #aaa;
        font-family: "Mulish";
        font-size: 17px;
      }
      & option {
        font-family: "Mulish";
        font-size: 20px;
      }
    }
  }
  
  .checkout-form-content {
    display: flex;
    flex-direction: column;
  }
  .checkout-order-note {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    font-family: "Mulish";
    font-size: 20px;
    & textarea {
      border-radius: 20px;
      padding: 10px;
      border: 1px solid #aaa;
    }
  }
  @media (min-width: 900px) {
    .checkout-content {
      width: 90%;
    }
    .checkout-form-content {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1025px) {
    .checkout-content {
      width: 80%;
    }
  }
  @media (min-width: 1025px) {
    .checkout-content {
      width: 60%;
    }
  }
  
  .checkout-order-details {
    & h1 {
      padding: 30px 0;
    }
    display: flex;
    flex-direction: column;
    font-family: "Mulish";
    padding: 30px 0;
    padding-bottom: 50px;
  }
  .checkout-order-details-0 {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    & > * {
      padding: 15px 10px;
    }
    & > *:first-child {
      border-bottom: 1px solid #fff;
    }
  }
  
  .checkout-order-details-1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-size: 20px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      & > * {
        padding: 10px;
        font-weight: bold;
      }
      & > *:first-child {
        border: 1px solid #dddd;
        border-right: none;
      }
    }
    border-bottom: 2px solid #000;
  }
  .checkout-order-details-2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      flex-direction: column;
      & > * {
        padding: 5px;
        &:first-child {
          text-align: right;
        }
        &:last-child {
          border: 1px solid #ddd;
        }
        font-weight: bold;
      }
    }
  }
  
  @media (min-width: 900px) {
    .checkout-order-details-0 {
      flex-direction: row;
      & > * {
        padding: 15px 20px;
        flex: 1;
      }
      & > *:first-child {
        border-bottom: none;
        border-right: 1px solid #fff;
      }
    }
    .checkout-order-details-1 {
      & > div {
        flex-direction: row;
        border-left: 1px solid #ddd;
        & > * {
          padding: 30px 20px;
          &:first-child {
            border: none;
            border-right: 1px solid #ddd;
          }
          flex: 1;
        }
      }
    }
    .checkout-order-details-2 {
      & > div {
        flex-direction: row;
        & > * {
          flex: 1;
          padding: 10px 0;
          &:first-child {
            & span {
              padding-right: 30px;
            }
            box-sizing: border-box;
          }
          &:last-child {
            & span {
              display: inline-block;
              padding-left: 20px;
            }
            border: none;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
  
  .checkout-order-payment {
    display: flex;
    flex-direction: column;
    & .check-o-btn {
      display: flex;
      padding: 50px 0;
      margin-top: 50px;
      margin-bottom: 50px;
      & button {
        background-color: var(--naranja);
        color: #000;
        font-weight: bold;
        border-radius: 30px;
        padding: 25px 0;
        width: 90%;
        font-size: 30px;
        margin: auto;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  
  .check-payment-type {
    & img {
      height: max-content;
      width: 200px;
      object-fit: contain;
    }
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    font-family: "Mulish";
    gap: 30px;
    & > div {
      gap: 10px;
      & label {
        display: flex;
        gap: 20px;
        font-weight: bold;
      }
      display: flex;
      flex-direction: row;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  @media (min-width: 900px) {
    .check-o-btn {
      display: flex;
      & button {
        width: 50% !important;
      }
    }
  }
  .checkout-succes-modal {
    z-index: 100;
    position: fixed;
    width: calc(100vw - 20px);
    height: 100vh;
    top: 0;
    background-color: #0009;
    left: 0;
    display: flex;
    font-family: "Mulish";
  
    & .checkout-modal-content {
      position: relative;
      & .checkout-modal-icon {
        color: #00a900;
        background-color: #fff;
        border-radius: 60%;
        font-size: 100px;
        margin: auto;
      }
      background-color: #fff;
      width: 90%;
      height: max-content;
      max-width: 600px;
      margin: auto;
      display: flex;
      justify-content: end;
      flex-direction: column;
      gap: 10px;
      padding: 60px 20px;
      & .checkout-modal-title {
        color: #00a900;
        font-weight: bolder;
        font-size: 40px;
        text-align: center;
      }
      & span:nth-child(3) {
        color: #000;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
      }
      & button {
        display: inline-block;
        text-align: center;
        background-color: #fff;
        border: 1px solid #00b475;
        background-color: #00a900;
        color: #fff;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 50px;
        width: max-content;
        margin: auto;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
  
  @media (min-width: 500px) {
    .checkout-modal-content {
      padding: 60px 50px !important;
    }
  }
  
  .close-checkout-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #000;
  }
  