.container-register {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register-form{
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        padding: 30px;
        margin: 50px 0;
        border: 3px solid lightgray;
    
        .form-info{
            width: 100%;
            
            display: flex;
            flex-direction: column;
    
            >label {
                font-family: "Mulish";
                font-size: 20px;
                padding: 10px 0;
            }
    
            >input{
                border-radius: 30px;
                padding: 10px;
                border: 2px solid lightgray;

                font-family: "Mulish";
            }
        }
    
        .register-btn {
            background-color: var(--naranja );
            border: none;
            outline: none;
            padding: 15px;
            border-radius: 30px;
            width: 150px;
    
            cursor: pointer;
    
            font-size: 16px;
            font-family: "Mulish";
            font-weight: bold;
            color: #fff;
    
    
        }

        .error-message {

            font-family: "Mulish";
        }
    }
}
